body{
    background-color: #151515;
    color: #EEE;
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    font-family: monospace;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    cursor: none;
    outline: solid 1px white;
}
#gui{
    position: absolute;
    top: 0px;
    left: 0px;
    user-select: none;
}